easyocr==1.7.2
fastapi>=0.112.0
uvicorn>=0.30.0
pillow<11
numpy==1.26.4
paddlepaddle==3.2.0
paddleocr==2.8.0
torch==2.4.1
pandas==2.2.2
python-multipart>=0.0.6
matplotlib==3.8.4
seaborn==0.13.2
requests==2.31.0
pillow-avif-plugin==1.5.5